.btn-primary {
  background-color: #1ab394;
  color: #ffffff
}
.btn-success {
  background-color: #1c84c6;
  color: #ffffff;
}
.btn-warning {
  background-color: #f8ac59;
  color: #ffffff;
}
.btn-danger {
  background-color: #ed5565;
  color: #ffffff;
}
.btn-info {
  background-color: #23c6c8;
  color: #ffffff;
}
button {
  margin-left: 10upx;
  font-size: 24upx;
  padding: 0 0.8em;
}